body {
	font-family: 'back_to_black_demoregular';
	font-style: normal;
}

@font-face {
    font-family: 'back_to_black_demoregular';
    src: url('Fonts/back_to_black_demo-webfont.woff2') format('woff2'),
         url('Fonts/back_to_black_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
div {
	display: inline-block;
	background-color: #B2A945;

	width: 30%;
	height: 30%;
	float: left;
	overflow: scroll;

	padding: 15px;
	border: 2pc solid #2ae2ae;
	margin:10;
}
span {
	display: block;
	width: 30%;
	height: 30%;
	float: left;
}
